.header{
    background-color: $yellow;
    .header__video{
        max-width: 100%;
        video{
            max-width: 100%;
        }
        .header__logo{
            max-width: 30%;
            margin: auto;
            position: relative;
            margin-top: -10%;
            margin-bottom: 1em;
            img{
                max-width: 100%;
            }
        }
    }
    .header__title{
        padding-top: 0%;
        padding-bottom: 1em;
        p{
            text-align: center;
            font-size: 10pt;
        }
        .header__title--cont{
            margin-bottom: 1em;
            max-width: 90%;
            margin: auto;
            p{
                font-size: 18pt;
                margin: 0;
            }   
        }
    }
}
@include respond (laptop){
    .header{
        .header__title{
            .header__title--cont{
                p{
                    font-size: 50pt;
                }
            }
        }
    }
}
@include respond(desktop){
    .header{
        .header__video{           
            video{
                width: 100%;
            }
            .header__logo{
                width: 20%;
                margin-top: -5%;
            }
        }
        .header__title{
            max-width: 80%;
            margin: auto;
            padding-bottom: 2em;
            p{
                font-size: 2.34em;
            }
            .header__title--cont{
                p{
                    font-size: 64pt;
                }
            }
        }
    }
}