.whatsapp{
    position: fixed;
    z-index: 100;
    bottom: 20px;
    right: 20px;
    width: 10%;
    height: auto;
    a{
        img{
            width: 100%;
        }
    }
}
@include respond(desktop){
    .whatsapp{
        width: 5%;
        height: auto;
        a{
            img{
                width: 100%;
            }
        }
    }
}
@include respond(tablet){
    .whatsapp{
        width: 10%;
        height: auto;
        a{
            img{
                width: 100%;
            }
        }
    }
}
@include respond(laptopLow){
    .whatsapp{
        width: 7%;
        height: auto;
        a{
            img{
                width: 100%;
            }
        }
    }
}
@include respond(laptop){
    .whatsapp{
        width: 5%;
        height: auto;
        a{
            img{
                width: 100%;
            }
        }
    }
}